

.megamenu {
  position: relative;
}

.accessible-megamenu {
  position: relative;
  display: block;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 3em;
  color: #454545;
  background-color: none;
  z-index: 2;
}

.accessible-megamenu h2,
.accessible-megamenu h3,
.accessible-megamenu h4 {
  font-size: 1em;
  display: inline;
  margin: 0;
  padding: 0;
  line-height: inherit;
  border-bottom: 0;
}

.accessible-megamenu > .accessible-megamenu-top-nav-item {
  position: relative;
  display: block;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  color: #454545 !important;
}

.accessible-megamenu :focus {
  outline-color: #edae49;
}
.accessible-megamenu > .accessible-megamenu-top-nav-item a {
  line-height: 20px;
}
.accessible-megamenu > .accessible-megamenu-top-nav-item a .ride {
  position: absolute;
  border-left: 1px solid #e9ecef;
    height: 15px;
    top: 19px;
  left: -0.1em;
}
.accessible-megamenu > .accessible-megamenu-top-nav-item .fa-home .ride {
  display: none;
}
.accessible-megamenu > .accessible-megamenu-top-nav-item a.fa.fa-home {
  font-size: 2em;
  line-height: 0.8em;
  padding: 0.5em 1em 0.5em 1em;
}
.accessible-megamenu > .accessible-megamenu-top-nav-item a[aria-expanded] {
  position: relative;
  display: block;
  padding: 0.5em 1.5em 0.5em 1.5em;
  color: #fff !important;
  text-decoration: none;
  z-index: inherit;
  font-size: .9em;
}

.accessible-megamenu > .accessible-megamenu-top-nav-item a[aria-expanded]:hover,
.accessible-megamenu
  > .accessible-megamenu-top-nav-item
  a[aria-expanded]:focus {
  color: #fff !important;
}

.accessible-megamenu > .accessible-megamenu-top-nav-item a[aria-expanded]:hover,
.accessible-megamenu > .accessible-megamenu-top-nav-item a[aria-expanded]:focus,
.accessible-megamenu > .accessible-megamenu-top-nav-item a[aria-expanded].open {
  color: #fff;
  margin-left: 0;
  background: none;
  color: #fff;
 
  z-index: 1002;
  padding-bottom: 0em;
}

.accessible-megamenu > .accessible-megamenu-top-nav-item a[aria-expanded].open {
  color: #edae49 !important;
  outline: none;
}
.accessible-megamenu > .accessible-megamenu-top-nav-item a[aria-expanded]:hover {
  color: #edae49 !important;
  outline: none;
}
.accessible-megamenu > .accessible-megamenu-top-nav-item a[aria-expanded]:focus {
  color: #edae49 !important;
  outline: none;
}
.accessible-megamenu
  > .accessible-megamenu-top-nav-item
  a[aria-expanded].open
  .activeborder {
    display: block;
    border-bottom: .2em solid #edae49;
    height: 1em;
}
.accessible-megamenu
  > .accessible-megamenu-top-nav-item
  a[aria-expanded].open.fa-home:before {
  color: #fff;
}

/* .accessible-megamenu
  > .accessible-megamenu-top-nav-item:first-child
  a[aria-expanded] {

} */

.accessible-megamenu
  > .accessible-megamenu-top-nav-item:first-child
  a[aria-expanded].open {
  left: -1px;
  margin-right: -1px;
}

.accessible-megamenu .accessible-megamenu-panel {
  position: absolute;
  display: block;
  color: #454545;
  margin: 0;
  padding: 10px;
  line-height: normal;
  background-color: #fff;
  visibility: hidden;
  top: -9999em;
  max-height: 0px;
  overflow: hidden;
  opacity: 0;

}

.accessible-megamenu .accessible-megamenu-panel.open {
  visibility: visible;
  top: 3em;
  max-height: 600px;
  opacity: 1;
  z-index: 1001;
  -webkit-transition: opacity 250ms ease, max-height 500ms ease,
    visibility 0s linear 0s, top 0s linear 0s;
  -moz-transition: opacity 250ms ease, max-height 500ms ease,
    visibility 0s linear 0s, top 0s linear 0s;
  -ms-transition: opacity 250ms ease, max-height 500ms ease,
    visibility 0s linear 0s, top 0s linear 0s;
  -o-transition: opacity 250ms ease, max-height 500ms ease,
    visibility 0s linear 0s, top 0s linear 0s;
  transition: opacity 250ms ease, max-height 500ms ease, visibility 0s linear 0s,
    top 0s linear 0s;
}

.accessible-megamenu .accessible-megamenu-panel a {
  display: block;
  font-size: 0.92em;
  line-height: 1.5em;
  text-decoration: none;
  color: #225fd7;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 1em;
  font-weight: inherit;
}

.accessible-megamenu .accessible-megamenu-panel.cols-4 {
  background: #f0f7fc;
}


.accessible-megamenu .accessible-megamenu-panel.cols-4b {
  width: 878px;
  left: -6.462em;
  border-top-left-radius: 3px;
}

.accessible-megamenu .accessible-megamenu-panel.cols-3 {
  width: 724px;
}

.accessible-megamenu .accessible-megamenu-panel.cols-3 > ol > li {
  width: 30%;
}

.accessible-megamenu .accessible-megamenu-panel.cols-1 {
  width: 615px;
}

.accessible-megamenu .accessible-megamenu-panel.cols-1 > ol > li {
  width: auto;
}

.accessible-megamenu .accessible-megamenu-panel ol {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.accessible-megamenu .accessible-megamenu-panel ol > li {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.accessible-megamenu .accessible-megamenu-panel > ol > li {
  display: block;
}

.accessible-megamenu .accessible-megamenu-panel > ol > li:first-of-type {
  padding-left: 0;
  border-left: none;
  box-shadow: none;
}

.accessible-megamenu .accessible-megamenu-panel > p {
  color: #454545;
  font-size: 1.2em;
  line-height: 1.1em;
}

.accessible-megamenu .accessible-megamenu-panel > ol > li > h5 > a {
  color: #454545;
  font-size: 0.85em;
  margin-bottom: 6px;
  padding-top: 0.4em;
  padding-bottom: 0;
  line-height: 1.1em;
}

.accessible-megamenu .accessible-megamenu-panel ol ol > li > a {
 display: black;
}

.accessible-megamenu .accessible-megamenu-panel a:hover,
.accessible-megamenu .accessible-megamenu-panel a:focus {
  color: #225fd7;
  text-decoration: underline;
}

.accessible-megamenu .accessible-megamenu-panel > h2 > a {
  font-weight: bold;
  color: #454545;
  font-size: 1.5em;
  margin-bottom: 0;
  margin-top: 0.8em;
  padding-bottom: 0;
  line-height: 1.4em;
}

.accessible-megamenu .accessible-megamenu-panel > h2 > a:hover,
.accessible-megamenu .accessible-megamenu-panel > h2 > a:focus,
.accessible-megamenu .accessible-megamenu-panel > ol > li > h3 > a:hover,
.accessible-megamenu .accessible-megamenu-panel > ol > li > h3 > a:focus {
  color: #333;
}

.accessible-megamenu .accessible-megamenu-panel hr {
  border-width: 1px 0px;
  border-style: solid;
  border-top-color: rgba(0, 0, 0, 0.3);
  border-bottom-color: #fff;
}

/* hides redundant header links in panel when megamenu is not initialized */
.accessible-megamenu:not(.js-accessible-megamenu)
  .accessible-megamenu-panel
  > h2 {
  display: none;
}

.accessible-megamenu-toggle {
  display: none;
  background: none;
  border: 0;
  padding: 0;
  position: absolute;
  z-index: 1;
  top: 3px;
  right: 1em;
  width: 33px;
  height: 33px;
}

.accessible-megamenu-toggle > span:not(.sr-only) {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #000;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 0 0;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    margin 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.accessible-megamenu-toggle > span {
  margin-top: 5px;
}

.accessible-megamenu-toggle > span:nth-last-child(1) {
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
.accessible-megamenu-toggle[aria-expanded="true"] > span {
  margin-top: 0;
  opacity: 1;
  transform: rotate(45deg) translate(4px, -3px);
  background: #000;
  border-radius: 0;
}

/*
 * But, hide the middle one.
 */
.accessible-megamenu-toggle[aria-expanded="true"] > span:nth-last-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * the last one should go the other direction.
 */
.accessible-megamenu-toggle[aria-expanded="true"] > span:nth-last-child(1) {
  transform: rotate(-45deg) translate(0px, 7px);
}

@media (max-width: 920px) {
 

  .accessible-megamenu .accessible-megamenu-panel.cols-4,
  .accessible-megamenu .accessible-megamenu-panel.cols-4b,
  .accessible-megamenu .accessible-megamenu-panel.cols-3,
  .accessible-megamenu .accessible-megamenu-panel.cols-1 {
    width: auto;
    left: 0;
    right: 0;
  }

  .accessible-megamenu .accessible-megamenu-panel.open {
    max-height: inherit;
  }


  .accessible-megamenu .accessible-megamenu-panel.cols-1 > ol > li {
    width: 100%;
  }

  .accessible-megamenu .accessible-megamenu-panel.cols-3 > ol > li {
    min-height: 256px;
  }



  .accessible-megamenu
    .accessible-megamenu-panel.cols-4
    > ol
    > li:nth-of-type(3),
  .accessible-megamenu
    .accessible-megamenu-panel.cols-4b
    > ol
    > li:nth-of-type(3),
  .accessible-megamenu
    .accessible-megamenu-panel.cols-3
    > ol
    > li:nth-of-type(3) {
    padding-left: 0;
    border-left: none;
    box-shadow: none;
  }
}

@media (max-width: 462px) {
  .accessible-megamenu-toggle {
    display: block;
    z-index: 3;
  }

  .accessible-megamenu-toggle
    ~ .accessible-megamenu
    > .accessible-megamenu-top-nav-item {
    height: 0;
    overflow: hidden;
    visibility: collapse;
  }

  .accessible-megamenu-toggle[aria-expanded="true"]
    ~ .accessible-megamenu
    > .accessible-megamenu-top-nav-item ,
	.no-subMenu
	{
    height: auto;
    overflow: visible;
    visibility: visible;
    height: 56px;
    background: #274c77;
    border-bottom: 2px solid #3f7cac;
  }
  
  
  

  .accessible-megamenu {
    height: auto;
    padding-top: 3.077em;
    z-index: 2;
  }

  .accessible-megamenu > .accessible-megamenu-top-nav-item {
    border-right: 0;
    float: none;
    width: 100%;
    height: auto;
  }

  .accessible-megamenu > .accessible-megamenu-top-nav-item a[aria-expanded] {
    box-shadow: none;
  }

  .accessible-megamenu .accessible-megamenu-panel,
  .accessible-megamenu .accessible-megamenu-panel.open {
    position: relative;
    top: 0;
    border: 0;
    box-shadow: none;
    padding-bottom: 0;
  }

  .accessible-megamenu .accessible-megamenu-panel.open {
    padding-bottom: 0.769em;
    max-height: 350px;
    overflow: auto;
  }
}

@media (max-width: 640px) {
  .accessible-megamenu .accessible-megamenu-panel.cols-4 > ol > li,
  .accessible-megamenu .accessible-megamenu-panel.cols-4b > ol > li,
  .accessible-megamenu .accessible-megamenu-panel.cols-3 > ol > li,
  .accessible-megamenu .accessible-megamenu-panel.cols-1 > ol > li {
    width: 100%;
  }

  .accessible-megamenu .accessible-megamenu-panel.cols-4 > ol > li,
  .accessible-megamenu .accessible-megamenu-panel.cols-4b > ol > li,
  .accessible-megamenu .accessible-megamenu-panel.cols-3 > ol > li {
    padding-left: 0;
    border-left: none;
    box-shadow: none;
  }
  
 span.white_logo {
    position: absolute;
    top: -85px;
    right: 68px;
    border-radius: 5px;
	  height: 42px;
}

.white_logo img {
    max-width: 50px;
    padding-top: 7px;
    margin: 0 auto;
}

.topics {
  margin-bottom: 20px;
}

.footer-links.pl-0.pr-0 {
  padding: 0 15px !important;
}
  
}

@media (min-width: 641px) and (max-width: 1100px)  {
.main-nav .container {
    max-width: 100%;
}

.megamenu .accessible-megamenu > .accessible-megamenu-top-nav-item a {
    padding: 15px 10px !important;
    font-size: 12px;
}

}

@media (min-width: 768px) and (max-width: 850px)  {

.about_container .container [class*="col-"] {
	max-width: 50%;
    flex: 0 0 50%;
}

.exampleSearch {
  right: 60px;
}

.about_container .col-sm-5 {
    max-width: 100% !important;
    flex: 0 0 100% !important;
    margin-top: 20px;
}
}
